<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>请输入旧11位手机号</string>
		<key>imageName</key>
		<string>手机icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>请输入密码</string>
		<key>imageName</key>
		<string>密码icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>请输入新11位手机号</string>
		<key>imageName</key>
		<string>手机icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>请输入验证码</string>
		<key>imageName</key>
		<string>短信icon</string>
	</dict>
</array>
</plist>
