<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>填写资料</string>
		<key>imageName</key>
		<string>填写资料</string>
	</dict>
	<dict>
		<key>title</key>
		<string>店铺管理</string>
		<key>imageName</key>
		<string>店铺管理</string>
	</dict>
	<dict>
		<key>title</key>
		<string>分润说明</string>
		<key>imageName</key>
		<string>分润说明</string>
	</dict>
	<dict>
		<key>title</key>
		<string>展业规划</string>
		<key>imageName</key>
		<string>展业规划</string>
	</dict>
</array>
</plist>
