<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rate</key>
		<string>0.44%</string>
		<key>account</key>
		<string>1.00/笔</string>
		<key>amount</key>
		<string>单笔5万元</string>
		<key>brand</key>
		<string>银联大额G</string>
	</dict>
	<dict>
		<key>rate</key>
		<string>0.50%</string>
		<key>account</key>
		<string>2.00/笔</string>
		<key>amount</key>
		<string>单笔5万元</string>
		<key>brand</key>
		<string>银联大额B</string>
		<key>img</key>
		<string>银联</string>
	</dict>
	<dict>
		<key>rate</key>
		<string>0.56%</string>
		<key>account</key>
		<string>2.00/笔</string>
		<key>amount</key>
		<string>单笔5万元</string>
		<key>brand</key>
		<string>银联积分C</string>
		<key>img</key>
		<string>银联</string>
	</dict>
	<dict>
		<key>rate</key>
		<string>0.54%</string>
		<key>account</key>
		<string>1.00/笔</string>
		<key>amount</key>
		<string>单笔5万元</string>
		<key>brand</key>
		<string>银联积分D</string>
		<key>img</key>
		<string>银联</string>
	</dict>
	<dict>
		<key>rate</key>
		<string>0.44%</string>
		<key>account</key>
		<string>1.00/笔</string>
		<key>amount</key>
		<string>单笔5万元</string>
		<key>brand</key>
		<string>银联快捷E</string>
		<key>img</key>
		<string>银联</string>
	</dict>
	<dict>
		<key>rate</key>
		<string>0.44%</string>
		<key>account</key>
		<string>1.00/笔</string>
		<key>amount</key>
		<string>单笔5万元</string>
		<key>brand</key>
		<string>银联积分F</string>
		<key>img</key>
		<string>银联</string>
	</dict>
	<dict>
		<key>rate</key>
		<string>0.44%</string>
		<key>account</key>
		<string>1.00/笔</string>
		<key>amount</key>
		<string>单笔5万元</string>
		<key>brand</key>
		<string>银联大额G</string>
		<key>img</key>
		<string>银联</string>
	</dict>
	<dict>
		<key>rate</key>
		<string>0.44%</string>
		<key>account</key>
		<string>1.00/笔</string>
		<key>amount</key>
		<string>单笔5万元</string>
		<key>brand</key>
		<string>银联大额G</string>
		<key>img</key>
		<string>银联</string>
	</dict>
	<dict>
		<key>rate</key>
		<string>0.44%</string>
		<key>account</key>
		<string>1.00/笔</string>
		<key>amount</key>
		<string>单笔5万元</string>
		<key>brand</key>
		<string>银联大额G</string>
		<key>img</key>
		<string>银联</string>
	</dict>
	<dict>
		<key>rate</key>
		<string>0.44%</string>
		<key>account</key>
		<string>1.00/笔</string>
		<key>amount</key>
		<string>单笔5万元</string>
		<key>brand</key>
		<string>银联大额G</string>
		<key>img</key>
		<string>银联</string>
	</dict>
</array>
</plist>
