<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>推广赚钱专属二维码</string>
		<key>imageName</key>
		<string>二维码宣传</string>
		<key>info</key>
		<string>专属个性二维码推广图片，让您的分享链接调性十足</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宣传图文下载中心</string>
		<key>imageName</key>
		<string>图文宣传</string>
		<key>info</key>
		<string>最新资讯 行业热点 软文营销，就是这么简单</string>
	</dict>
</array>
</plist>
