<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headTitle</key>
		<string>11月</string>
		<key>content</key>
		<array>
			<dict>
				<key>aliAcount</key>
				<string>支付宝账号</string>
				<key>money</key>
				<string>￥1994.24</string>
				<key>date</key>
				<string>2017-10-31  02:25:31</string>
				<key>indicator</key>
				<string>提示成功</string>
			</dict>
			<dict>
				<key>aliAcount</key>
				<string>支付宝账号</string>
				<key>money</key>
				<string>￥1994.24</string>
				<key>date</key>
				<string>2017-10-31  02:25:31</string>
				<key>indicator</key>
				<string>提示成功</string>
			</dict>
			<dict>
				<key>aliAcount</key>
				<string>支付宝账号</string>
				<key>money</key>
				<string>￥1994.24</string>
				<key>date</key>
				<string>2017-10-31  02:25:31</string>
				<key>indicator</key>
				<string>提示成功</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headTitle</key>
		<string>10月</string>
		<key>content</key>
		<array>
			<dict>
				<key>aliAcount</key>
				<string>支付宝账号</string>
				<key>money</key>
				<string>￥1994.24</string>
				<key>date</key>
				<string>2017-10-31  02:25:31</string>
				<key>indicator</key>
				<string>提示成功</string>
			</dict>
			<dict>
				<key>aliAcount</key>
				<string>支付宝账号</string>
				<key>money</key>
				<string>￥1994.24</string>
				<key>date</key>
				<string>2017-10-31  02:25:31</string>
				<key>indicator</key>
				<string>提示成功</string>
			</dict>
			<dict>
				<key>aliAcount</key>
				<string>支付宝账号</string>
				<key>money</key>
				<string>￥1994.24</string>
				<key>date</key>
				<string>2017-10-31  02:25:31</string>
				<key>indicator</key>
				<string>提示成功</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headTitle</key>
		<string>9月</string>
		<key>content</key>
		<array>
			<dict>
				<key>aliAcount</key>
				<string>支付宝账号</string>
				<key>money</key>
				<string>￥1994.24</string>
				<key>date</key>
				<string>2017-10-31  02:25:31</string>
				<key>indicator</key>
				<string>提示成功</string>
			</dict>
			<dict>
				<key>aliAcount</key>
				<string>支付宝账号</string>
				<key>money</key>
				<string>￥1994.24</string>
				<key>date</key>
				<string>2017-10-31  02:25:31</string>
				<key>indicator</key>
				<string>提示成功</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
